
/* .menu__arrow {} */

body.mouse .menu__list>li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
}
body.mouse .menu__sub-wrapper>li:hover .menu__sub-sub-list {
	opacity: 1;
  visibility: visible;
}



body.touch .sub-menu__list.open{
	display: block;
}
body.touch .sub-sub-menu__list.open{
	display: block;
}
body.touch .arrow {
	display: block;
}

@media (max-width:767px){
	.wrapper{
		padding: 15px;
	}
	.menu__list {
		display: block;
	}
	.menu__list>li{
		margin: 0px 0px 10px 0px;
	}
	.sub-menu__list{
		position: relative;
		left: 0;
		top: 0;
	}
	.sub-sub-menu__list{
		padding: 0px 5px;
		position: relative;
		left: 0;
		top: 0;
	}
	.sub-menu__arrow.arrow {
		right: 10px;
		top: 15px;
		border-bottom: none;
		border-left: 10px solid transparent;
		border-top: 10px solid #000;
		border-right: 10px solid transparent;
	}
}