.burger
  display: none
@media (max-width: 1350px)
  .menu
    width: 674px

@media (max-width: 1200px)
  .container
    max-width: 950px
  .menu
    // width: 674px
  .cards
    max-width: 750px
    margin: auto
    &__item
      margin-bottom: 30px
  .accordion
    width: 480px
  .questions
    &-text
      max-width: 412px 

