@media (max-width: 767px)
  .mtext
    font-size: 16px
    line-height: 28px
  .title
    font-size: 28px
    line-height: 36px
  .container
    max-width: 570px
  .hero
    background-position-y: 720px
    &-wave
      &__card
        padding-top: 20px
        padding-bottom: 20px
      &__icon
        margin-bottom: 12px
      &__title
        font-size: 16px
        line-height: 28px
      &__text
        font-size: 16px
        line-height: 28px
  .tabs
    &-block
      overflow: scroll
  .js
    &__card
      padding: 26px 0 32px 0
    &__img
      margin-bottom: 12px
  .cards
    &__icon
      margin-bottom: 18px
  .sponsors
    padding-top: 80px
    &__logo
      left: 0px
  .questions
    &__info
      max-width: 267px;
    &-wrapper
      // flex-direction: column
  .reviews
    &-slider
      &__text
        font-size: 35px
        line-height: 53px
  .footer
    &-wrapper
      // padding: 64px 0 64px 0
    &-grid
      grid-template:  repeat(2, 1fr) 23% / repeat(3, 1fr)
      grid-gap: 48px  30px
      &__logo
        grid-area: 3 / 1 / 4 / 4
        
      &__product
        margin-left: 0
      &__company
        grid-area: 2/1
        margin-left: 0
      &__services
        grid-area: 1/2
      &__more
        grid-area: 2/2 

