.hero
  background-color: $primary
  &-main
    position: relative
  &-bcg
    &__left
      position: absolute
      width: 620.16px
      height: 376.86px
      left: -226.88px
      top: 303.87px
    &__right
      position: absolute
      width: 300px
      height: 285px
      left: 1046.23px
      top: 330.68px
      transform: rotate(-15deg)
  &-header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 26px 0
    margin-bottom: 96px
  &-navbar
    width: 598px
    display: flex
    justify-content: space-between
    &__list
      width: 423px
      list-style: none
      margin: 0
      padding: 18px 0
      display: flex
      align-items: center
      justify-content: space-between
      margin-right: px
    &__button
      padding: 13px 24px  
      color: white
      font-weight: bold
      background-color: $primary
      border: 2px solid white
      border-radius: 8px
    &__link
      text-decoration: none
      color: white
  &__title
    margin: 0
    margin-bottom: 24px
    font-weight: bold
    font-size: 56px
    line-height: 68px
    color: white
    text-align: center
  &__text
    font-weight: normal
    font-size: 20px
    line-height: 36px
    text-align: center
    color: $w
  &-button
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 16px
    &__git
      text-decoration: none
      background-color: $w
      color: $primary
      border: none
      border-radius: 50px
      padding: 26px
      font-weight: bold
      font-size: 18px
      line-height: 25px
      display: flex
      align-items: center
      padding: 16px 27px 15px 37px
      margin-right: 16px
    &__icon
      margin-right: 5px
    &__doc
      border: 2px solid $w
      display: flex
      align-items: center
      background-color: $primary
      color: $w
      border-radius: 50px
      font-weight: bold
      font-size: 18px
      line-height: 25px
      padding: 16px 31px 15px 25px
    &__pic
      margin-left: 14px
  &__zip-text
    font-weight: 600
    font-size: 16px
    line-height: 22px
    text-align: center
    color: $w
    margin-bottom: 105px
  &-wave
    display: flex
    justify-content: center
    align-items: center
    position: relative
    &__card
      padding: 32px
      border: 1px solid #E5EAF4
      box-sizing: border-box
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05);
      border-radius: 16px
      background-color: $w
      display: flex
      align-items: start
      z-index: 10
      &_left
        margin-right: 16px
    &__title
      font-weight: bold
      font-size: 22px
      line-height: 33px
      letter-spacing: 0.2px
      color: $btc
      margin: 0
      margin-bottom: 4px
    &__text
      margin: 0
      font-weight: normal
      font-size: 18px
      line-height: 32px
      color: $tc
      max-width: 338px
    &__icon
      margin-right: 24px
    &__background
      transform: translateX(0%)
      position: absolute
      top: 0
      bottom: 0
      z-index: 5
