.hero
  position: relative
  background-image: url(../img/Wave.svg), url(../img/Shape-1.svg)
  background-repeat: no-repeat
  background-position-x: center, 9%
  background-color: $primary
  background-position-y: 610px, 297px
  background-size: 1920px, 620px 376px
  overflow: hidden
  

  &-main
    position: relative
  &__bcg
    &-left
      position: absolute
      width: 620.16px
      height: 376.86px
      left: -226.88px
      top: 303.87px
      overflow: hidden
    &-right
      position: absolute
      width: 300px
      height: 285px
      left: 1046.23px
      top: 330.68px
      transform: rotate(-15deg)
  &-header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 26px 0
    margin: auto
    margin-bottom: 96px
   
  &__title
    font-family: HKGroteskBold
    margin: auto
    margin-bottom: 24px
    font-weight: bold
    font-size: 56px
    line-height: 68px
    color: white
    text-align: center
    max-width: 946px
    letter-spacing: 0.2px
  &__text
    font-weight: normal
    font-size: 20px
    line-height: 36px
    text-align: center
    color: $w
    margin: 0
    margin-bottom: 40px
  &-button
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 16px
    &__link
      text-decoration: none
    &__git
      background-color: $w
      color: $primary
      border: none
      border-radius: 50px
      padding: 26px
      font-weight: bold
      font-size: 18px
      line-height: 25px
      display: flex
      align-items: center
      padding: 16px 27px 15px 37px
      margin-right: 16px
    &__icon
      margin-right: 5px
    &__doc
      border: 2px solid $w
      display: flex
      align-items: center
      background-color: $primary
      color: $w
      border-radius: 50px
      font-weight: bold
      font-size: 18px
      line-height: 25px
      padding: 16px 31px 15px 25px
    &__pic
      margin-left: 14px
  &__zip-text
    font-weight: 600
    font-size: 16px
    line-height: 22px
    text-align: center
    color: $w
    margin-bottom: 105px
  &-wave
    display: flex
    justify-content: center
    align-items: center
    position: relative
    background-position: center
    background-position-y: 0%
    background-size: cover
    &__card
      padding: 32px
      border: 1px solid #E5EAF4
      box-sizing: border-box
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05)
      border-radius: 16px
      background-color: $w
      display: flex
      align-items: start
      z-index: 10
      width: 466px
      &_left
        margin-right: 16px
    &__title
      font-family: HKGroteskBold
      font-style: normal
      font-weight: bold
      font-size: 22px
      line-height: 33px
      letter-spacing: 0.2px
      color: #183B56
      margin: 0
      margin-bottom: 4px
    &__text
      margin: 0
      font-weight: normal
      font-size: 18px
      line-height: 32px
      color: $tc
      max-width: 338px
    &__icon
      margin-right: 24px
    &__background
      transform: translateY(21%)
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: 5
.menu
  width: 598px
  display: flex
  justify-content: space-between
  align-items: center
  &__list
    display: flex
    width: 423px
    list-style: none
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: space-between
  &__link
    text-decoration: none
    color: white
    &:hover
      text-decoration: none
      color: $w
  &__item
    position: relative
  &__button
    padding: 13px 24px
    color: white
    font-weight: bold
    background-color: $primary
    border: 2px solid white
    border-radius: 8px
  &__sub
    &-wrapper
      box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
      padding: 32px
      border-radius: 12px
      background: #FFFFFF
    &-list
      position: absolute
      margin: 0
      padding: 0
      top: 20px
      left: 0
      width: 260px
      height: 338px
      opacity: 0
      visibility: hidden
      transition: 0.2s
      padding-top: 24px
    &-item
      list-style: none
      position: relative
      margin-bottom: 24px
      &:last-child
        margin-bottom: 0
    &-link
      text-decoration: none
      color: $btc
      display: flex
      align-items: center
      justify-content: space-between
      &:hover
        font-weight: 600
        color: #1565D8
        
    &-sub
      &-list
        position: absolute
        top: -8px
        left: 104%
        width: 242px
        margin: 0
        padding: 0
        opacity: 0
        visibility: hidden
        transition: 0.2s
        box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
        padding: 32px
        border-radius: 12px
        background: #FFFFFF
        
      &-item
        list-style: none
        position: relative
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0
      &-link
        text-decoration: none
        color: $btc
        
        &:hover
          font-weight: 600
          color: #1565D8

// .landings:hover
//   .menu__sub-list
//     opacity: 1
//     visibility: visible

// .sub-list:hover
//   .menu__sub-sub-list
//     opacity: 1
//     visibility: visible
